# Go specific
/bin/
/obj/
/vendor/
*.test
*.out
*.exe
*.dll
*.so
*.dylib

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# IDEs
.idea/
.vscode/

# Go modules
go.sum
go.mod

# Logs
*.log